body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 20px;
}
.color{
    color: yellow;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
    padding-left: 50px;
}
.half-width img{
    width: 50%;
    padding-left: 5%;
}
.half-width{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    color: rgb(24, 76, 76);
    font-weight: 700;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.para{
    padding-right: 20%;
}
.experience-box{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}
.experience-item{
    
    width: 40%;
    margin-left: 10px;
    margin-right: 50px;
    padding-left: 5%;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
}
#full-stack-developer{
    border-left: 10px solid tomato;
}
#baby-developing-project{
    border-left: 10px solid blue;
}
footer{
    text-align: center;
}